.pjx-card__header {
  padding: var(--pjx-card-padding);
  border-bottom: 1px solid var(--pjx-card-header-sep);
}

.pjx-card__title {
  margin: 0;
  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--pjx-card-title-color);
}
