<div id="{{ id }}" class="pjx-segmented-control{% if class_name %} {{ class_name }}{% endif %}" role="radiogroup"{{ extra_attrs_html }}>
  {% for value, label in options %}
  <label class="pjx-segmented-control__segment">
    <input type="radio" class="pjx-segmented-control__input" name="{{ name }}" value="{{ value }}"{% if value == selected %} checked{% endif %}{% if disabled %} disabled{% endif %}>
    <span class="pjx-segmented-control__text">{{ label }}</span>
  </label>
  {% endfor %}
</div>
